// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// #bird {
//   background-size: cover;
// }
body {
  margin: 0;
}
.main-visual {
  text-align: center;
  color: transparent;
	background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
	-webkit-background-clip: text;
  width: auto;
  padding-top: 100px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 35px;
  font-style: italic;
  font-family: Times New Roman, "ＭＳ Ｐゴシック";
}
canvas {
  min-height: 970px;
}

@media screen and (max-width:768px) {
  .main-visual {
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
  }
}

@media screen and (max-width:425px) {
  .main-visual {
    padding-top: 35px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
  }
  canvas {
    min-height: 550px;
  }
}