<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="homes.scss" />
    <title>Top Page</title>
  </head>

  <body>
    <div class="main-visual">
      <h1>Congratulations on your automatic deployment!!</h1>
      <h2>created user : Ryo.S</h2>
    </div>
  </body>
</html>
